<nav>
  <div class="container">
    <img (click)="navigate('/')" class="logo nav-brand" src="../../../assets/image/logo.svg" alt="zacoto">
    <div class="menu-icon" (click)="toggleMenu()">
      <div [ngClass]="{'icon-active': menuActive, 'icon-inactive': !menuActive}">
        <span class="bar1"></span>
        <span class="bar2"></span>
        <span class="bar3"></span>
      </div>
    </div>
    <ul class="nav-links" [ngClass]="{'active': menuActive}">
      <ng-container *ngFor="let page of navObj">
        <li>
          <div [ngClass]="{'activeClass': page.active}" (click)="navigate(page.navigateTo)">
            {{page.page}}
          </div>
        </li>
      </ng-container>
    </ul>
  </div>
</nav>
